html{
  box-sizing: border-box;
  background-color: white;
  font-family: 'Karla';
  font-size: 16px;
}

*, *:before, *:after{
  box-sizing: inherit;
}

h2, h4, p{
  margin: 0;
}

body{
  padding: 40px;
}

#card{
  height: 420px;
  width: 720px;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  overflow: hidden;
}

#top-section{
  height: 40%;
  width: 100%;
  padding: 30px;
}

#bottom-section{
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  color: white;
}

#bottom-left-section{
  display: inline-block;
  height: 100%;
  width: 50%;
  vertical-align: top;
  background-color: #2ab2af;
  padding: 50px;
}

#bottom-right-section{
  display: inline-block;
  height: 100%;
  width: 50%;
  vertical-align: top;
  background-color: #2ebfbd;
  padding: 50px;
}

#top-section h2{
  color: #2ebfbd;
  margin-bottom: 25px;
}

#top-section h4{
  color: hsl(71, 73%, 54%);
  margin-bottom: 10px
}

#top-section p{
  color: #98a6bd;
}

button{
  color: white;
  background-color: #c0df34;
  border: none;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35); 
}

button:hover{
  transform: scale(1.025);
  cursor: pointer;
  background-color: #A6C12C;
}

#price{
  font-weight: 700;
  font-size: 1.6rem;
}

#for-margin{
  margin: 5px;
}

#bottom-left-section h4{
  margin-bottom: 25px;
}

#bottom-left-section p{
  margin-bottom: 30px;
}

#price, #pm{
  display: inline-block;
  margin-bottom: 5px;
}

#pm{
  position: relative;
  top: -2px;
  left: 5px;
  opacity: 70%;
  font-size: 0.9rem;
}

ul{
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
  opacity: 80%;
}

@media (max-width: 650px){
  #bottom-left-section, #bottom-right-section, #card{
    height: auto;
    width: 100%;
  }  
  
  #bottom-left-section, #bottom-right-section{
    width:100%;
    padding: 30px;
  }
}
